html { background-image: url('../images/tbg1.png'); }
body {
	background-color: transparent;
}

#sidebar {
	border-right: solid 2px #999;
	padding: 30px 0px;
}

#photo {
	width: 200px;
	height: 235px;
	margin: auto;
	background-image: url('../images/mateusz.jpg');
	background-size: 100% 100%;
	border: solid 3px #aaa;
	border-radius: 5px;
}

#menu {
	margin: auto;
	width: 400px;
	padding: 20px;
}
#menu ul {
	width: 100%;
	max-width: 350px;
	margin: auto;
	padding: 0px 20px;
}
#menu li {
	width: 100%;
	color: white;
	margin: 5px;
	border-radius: 3px;
}
#menu li span { float: right; }
#menu li a {
	text-align: left;
	font-weight: bold;
}
/* Styles taken from bootstrap buttons */
#menu li a.btn-default { color: #333333; background-color: #ffffff; border-color: #cccccc; }
#menu li a.btn-default:hover { color: #333333; background-color: #ebebeb; border-color: #adadad; }
#menu li a.btn-primary:hover { background-color: #3276b1; border-color: #285e8e; }
#menu li a.btn-warning:hover { background-color: #ed9c28; border-color: #d58512; }
#menu li a.btn-danger:hover { background-color: #d2322d; border-color: #ac2925; }
#menu li a.btn-success:hover { background-color: #47a447; border-color: #398439; }
#menu li a.btn-info:hover { background-color: #39b3d7; border-color: #269abc; }

#content {

}