---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//== Typography
$font-family-base:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base:    16px;
$line-height-base:  1.5rem;

$font-size-h1: floor(($font-size-base * 2.6));
$font-size-h2: floor(($font-size-base * 2.15));
$font-size-h3: ceil(($font-size-base * 1.7));
$font-size-h4: ceil(($font-size-base * 1.25));
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85));

$headings-margin-bottom: 0.75rem;
$headings-font-weight:   500;
$headings-line-height:   1.1;

// TODO: Refactor font sizes
$small-font-size: $font-size-base * 0.875;

//== Layout
$spacing-unit: 1rem;

//== Colours
$text-color: #333;
$background-color: #fdfdfd;
$brand-color: #2079c7;
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// TODO: Refactor colours
$gray-base:              #000;
$gray-darker:            #3E3F3A;
$gray-dark:              #8E8C84;
$gray:                   #98978B;
$gray-light:             #DFD7CA;
$gray-lighter:           #F8F5F0;

$brand-primary:         #325D88;
$brand-success:         #93C54B;
$brand-info:            #29ABE0;
$brand-warning:         #F47C3C;
$brand-danger:          #D9534F;

// Breakpoints
$screen-phone:               480px;
$screen-tablet:              768px;
$screen-desktop:             992px;
$screen-lg-desktop:          1200px;

// TODO: Refactor breakpoints
$on-palm: 600px;
$on-laptop: 800px;

@mixin media-query($device) {
  @media screen and (max-width: $device){
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "normalize";
@import "base";
@import "syntax-highlighting";

@import "layout";
@import "header";

@import "resume";
@import "blog";
@import "portfolio";
