html { 
	background-image: url('../images/tbg1.png');
	background-attachment: fixed;
}
body { 
	margin-top: 20px;
	background-color: transparent;
	position: relative;
}
h3 {
	text-decoration: underline;
	font-style: italic;
}
.row { margin: 0px; }

#photo-container {
	width: 250px;
	margin: 30px auto;
}

#menu {
	max-width: 400px;
	margin: auto;
}

#menu li {
	margin-top: 5px;
	border-radius: 3px;
}

#menu li a {
	color: #fff;
	font-weight: bold;
	text-align: left;
	outline: 0;
}

/* Fix missing affix in mobile */
#sidebar.affix { position: static; }

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
	/* Widen the fixed sidebar */
	#sidebar.affix {
		position: fixed; /* Undo the static from mobile first approach */
		width: 280px;
		top: 10px;
	}
}
@media (min-width: 1200px) {
	/* Widen the fixed sidebar again */
	#sidebar.affix {
		width: 350px;
	}
}

/* Styles taken from bootstrap buttons for purpose of menu correction */
#menu li a.btn-default { color:#333; background-color: #ffffff; border-color: #cccccc; }
#menu>li.active>a.btn-success { background-color: rgb(92, 184, 92); }
#menu li a.btn-default:hover { background-color: #ebebeb; border-color: #adadad; }
#menu li a.btn-primary:hover { background-color: #3276b1; border-color: #285e8e; }
#menu li a.btn-warning:hover { background-color: #ed9c28; border-color: #d58512; }
#menu li a.btn-danger:hover { background-color: #d2322d; border-color: #ac2925; }
#menu li a.btn-success:hover { background-color: #47a447; border-color: #398439; }
#menu li a.btn-info:hover { background-color: #39b3d7; border-color: #269abc; }


#content {
	border-left: solid 2px #999;
	padding: 0px 50px 20px 50px;
	color: #aaa;
}

#projects img {
	height: 100px;
}

#comics {
	text-align: center;
}
#comics img {
	margin: 10px;
	height: 200px;
}