@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500);
body {
  font-family: 'Roboto', sans-serif;
}
.transparent {
  opacity: 0;
}
.row {
  margin: 0px;
  width: 100%;
}
#top-nav {
  border: none;
  background-color: rgba(52, 65, 76, 0);
  z-index: 10;
}
#top-nav .navbar-header {
  padding: 12px;
}
#top-nav .menu-logo {
  color: #fff;
  padding-left: 30px;
}
#top-nav .menu-logo:hover {
  color: #222;
  text-decoration: none;
}
#top-nav .menu-logo .icon-nthgen-text {
  position: absolute;
  left: 15px;
  bottom: -45px;
  font-size: 50px;
  padding: 0px 15px;
}
#top-nav .menu-logo .icon-nthgen-n {
  font-size: 120px;
}
#top-nav .mobile-menu-logo {
  display: none;
  width: 100px;
}
#top-nav .navbar-toggle {
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 20px;
  margin-right: 0px;
  color: #fff;
  font-size: 50px;
}
#top-nav #top-nav-collapse .navbar-right {
  margin-right: 30px;
  margin-top: 50px;
}
#top-nav #top-nav-collapse .navbar-right div .top-nav-link {
  display: inline-block;
  font-size: 18px;
  padding: 10px;
}
#top-nav #top-nav-collapse .navbar-right div .top-nav-link a {
  color: #fff;
}
#top-nav #top-nav-collapse .navbar-right div .top-nav-link a:hover {
  color: #222;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  #top-nav .navbar-header {
    padding: 30px;
  }
  #top-nav .menu-logo {
    display: none;
  }
  #top-nav .mobile-menu-logo {
    display: block;
    margin: 20px;
  }
  #top-nav #top-nav-collapse {
    max-height: 100%;
    border: none;
    box-shadow: none;
    overflow: hidden;
    background-color: rgba(0, 100, 200, 0.8);
  }
  #top-nav #top-nav-collapse .navbar-right {
    margin: 0px;
    height: 100%;
  }
  #top-nav #top-nav-collapse .navbar-right div {
    padding-top: 25px;
  }
  #top-nav #top-nav-collapse .navbar-right div .top-nav-link {
    display: block;
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
  }
  #top-nav #top-nav-collapse .navbar-right div .top-nav-link a:hover {
    color: #fff;
  }
}
@media screen and (max-width: 540px) {
  #top-nav .navbar-header {
    padding: 0px;
  }
  #top-nav .navbar-header .navbar-toggle {
    font-size: 30px;
    margin-top: 15px;
  }
  #top-nav .mobile-menu-logo {
    margin: 15px 10px;
  }
  #top-nav .mobile-menu-logo img {
    width: 150px;
  }
}

/* Diagonal line logo */

.diagonal {
  width: 100%;
  padding: 20px 0px;
  text-align: center;
}
@media screen and (max-width: 449px) {
  .diagonal {
    padding-left: 10px;
  }
}
.diagonal .line {
  float: left;
  font-weight: 100;
  height: 70px;
  font-size: 70px;
  line-height: 70px;
  margin: auto;
  margin-top: -8px;
}
.diagonal .diagonal-content {
  height: 60px;
  width: 120px;
  margin: auto;
}
.diagonal .words {
  float: left;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
}
.diagonal .words p {
  margin: 0px;
  text-transform: uppercase;
}
.diagonal .words p:nth-child(1) {
  margin-left: -14px;
}
.diagonal .words p:nth-child(2) {
  margin-left: -5px;
}
.diagonal .words p:nth-child(3) {
  margin-left: 3px;
}

/* Bottom Nav */

#bottom-nav-container {
  background-color: #262626;
  color: #fff;
  width: 100%;
}
@media screen and (max-width: 449px) {
  #bottom-nav-container .diagonal {
    padding-left: 30px;
  }
}
#bottom-nav-container #bottom-nav {
  margin: auto;
  height: 100px;
  width: 720px;
}
@media all and (max-width: 799px) {
  #bottom-nav-container #bottom-nav {
    height: 250px;
    width: 100%;
  }
}
#bottom-nav-container #bottom-nav .nav-item {
  float: left;
  display: table;
  height: 100px;
}
@media all and (max-width: 800px) {
  #bottom-nav-container #bottom-nav .nav-item {
    float: none;
    height: 75px;
    margin: auto;
  }
}
#bottom-nav-container #bottom-nav .nav-item .contact-info {
  float: left;
  display: table;
  height: 100%;
}
@media screen and (max-width: 449px) {
  #bottom-nav-container #bottom-nav .nav-item .contact-info {
    float: none;
    padding: 0px;
    margin: 0px;
    height: auto;
    width: 100%;
    text-align: center;
  }
}
#bottom-nav-container #bottom-nav .nav-item .contact-info .info {
  display: table-cell;
  vertical-align: middle;
  color: #0065c9;
  padding: 0px 20px;
}
@media (min-width: 450px) and (max-width: 800px) {
  #bottom-nav-container #bottom-nav .nav-item .contact-info .info {
    font-size: 18px;
  }
}
@media screen and (max-width: 449px) {
  #bottom-nav-container #bottom-nav .nav-item .contact-info .info {
    display: inline-block;
    font-size: 14px;
    padding: 5px 0px;
  }
}
#bottom-nav-container #bottom-nav .nav-item .contact-info .info a {
  color: #0065c9;
}
#bottom-nav-container #bottom-nav .nav-item .contact-info .info span {
  float: left;
  color: #fff;
  margin-right: 5px;
}
#bottom-nav-container #bottom-nav .nav-item .contact-info .info .icon-mobile-phone {
  font-size: 32px;
  margin-top: -8px;
}
@media (min-width: 450px) and (max-width: 800px) {
  #bottom-nav-container #bottom-nav .nav-item .contact-info .info .icon-mobile-phone {
    margin-top: -3px;
  }
}
@media screen and (max-width: 449px) {
  #bottom-nav-container #bottom-nav .nav-item .contact-info .info .icon-mobile-phone {
    margin-top: -7px;
  }
}
#bottom-nav-container #bottom-nav .nav-item .contact-info .info .icon-mail {
  font-size: 20px;
}
@media (min-width: 450px) and (max-width: 800px) {
  #bottom-nav-container #bottom-nav .nav-item .contact-info .info .icon-mail {
    margin-top: 3px;
  }
}
@media screen and (max-width: 449px) {
  #bottom-nav-container #bottom-nav .nav-item .contact-info .info .icon-mail {
    margin-top: 0px;
  }
}
#bottom-nav-container #bottom-nav .nav-item ul {
  display: table-cell;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#bottom-nav-container #bottom-nav .nav-item ul li {
  display: inline-block;
  font-size: 30px;
  padding: 10px;
}
@media (min-width: 450px) and (max-width: 800px) {
  #bottom-nav-container #bottom-nav .nav-item ul li {
    font-size: 50px;
    padding: 20px;
  }
}
@media screen and (max-width: 449px) {
  #bottom-nav-container #bottom-nav .nav-item ul li {
    font-size: 40px;
  }
}
#bottom-nav-container #bottom-nav .nav-item ul a {
  color: #fff;
}
#bottom-nav-container #bottom-nav .nav-item ul a:hover {
  color: #999;
}

/* Footer */

#footer {
  height: 50px;
  padding: 20px;
  text-align: center;
  background-image: url(../../images/grey-pixel-bg.jpg);
}
#footer p {
  font-size: 10px;
  color: #666;
}
