#top-nav.career-page {
  background-color: rgba(52, 65, 76, 0.8);
}
#top-nav.career-page #top-nav-collapse .navbar-right {
  margin-top: 15px;
}
#top-nav.career-page .menu-logo .icon-nthgen-n {
  font-size: 50px;
}
#top-nav.career-page .menu-logo .icon-nthgen-text {
  display: none;
}
#top-nav.career-page .menu-logo {
  height: 60px;
}
#career-header {
  height: 400px;
  background-image: url("../../images/nthgen-computer-bluebg.jpg");
  background-size: 150%;
  background-position: bottom;
  display: table;
  width: 100%;
  overflow-y: visible;
}
#career-header div {
  display: table-cell;
  vertical-align: middle;
}
@media all and (max-width: 800px) {
  #career-header div {
    padding-top: 120px;
  }
}
#career-header h1 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Roboto-Light', sans-serif;
  vertical-align: middle;
  font-size: 40px;
  letter-spacing: 10px;
}
@media all and (max-width: 800px) {
  #career-header h1 {
    font-size: 35px;
  }
}
#posting-header {
  height: 150px;
  background-image: url("../../images/nthgen-computer-bluebg.jpg");
  background-size: 100%;
  background-position: bottom;
  width: 100%;
  overflow-y: visible;
}
@media all and (max-width: 800px) {
  #posting-header {
    height: 250px;
  }
}
#page {
  background-color: #f1f1f1;
  color: #3e3e3e;
}
#page #body {
  padding: 0% 3%;
}
@media all and (max-width: 991px) {
  #page #body {
    padding: 0px;
  }
}
#page #body .wrapper {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  margin-top: -25px;
  margin-bottom: 25px;
  z-index: 1;
}
#page #sidebar {
  margin-top: -25px;
  margin-bottom: 25px;
  margin-left: -1%;
  padding: 0px;
  padding-right: 2%;
  overflow-x: visible;
  z-index: 1;
}
@media all and (max-width: 991px) {
  #page #sidebar {
    padding: 0px;
    margin-left: 0px;
    border-top: #eef solid 1px;
  }
}
#page #sidebar .wrapper {
  background-color: #fff;
  padding: 5px;
}
#page #sidebar .wrapper .side-panel {
  padding: 10px;
}
#page #sidebar .wrapper .side-panel h4 {
  padding-left: 2px;
  font-family: 'Roboto-Light', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 15px;
  margin: 0px;
}
#page #sidebar .wrapper .side-panel h1 {
  font-family: 'Roboto-Regular', sans-serif;
  text-transform: uppercase;
  color: #0067c6;
  margin: 0px;
}
#page #sidebar .wrapper .side-panel h2 {
  font-family: 'Roboto-Light', sans-serif;
  color: #0096ff;
  font-size: 18px;
}
#page #sidebar .wrapper .side-panel ul {
  list-style: none;
  padding: 0px;
}
#page #sidebar .wrapper .side-panel ul li {
  font-family: 'Roboto-Light', sans-serif;
  padding: 5px 0px;
  padding-left: 1.8em;
  color: #000;
}
#page #sidebar .wrapper .side-panel ul li:before {
  font-family: 'Glyphicons Halflings';
  font-size: 8px;
  color: #0067c6;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 10px;
  content: '\e080';
  display: inline-block;
  margin-left: -1.8em;
  width: 1.5em;
}
.post {
  /* Custom Carousel */
}
.post h1 {
  font-family: 'Roboto-Regular', sans-serif;
  margin-top: 0px;
  padding: 5px;
  color: #0067c6;
}
.post p {
  padding: 5px;
  font-family: 'Roboto-Light', sans-serif;
}
.post ul {
  font-family: 'Roboto-Light', sans-serif;
  padding-left: 25px;
}
.post ul li {
  padding: 2px 0px;
}
.post .btn {
  background-color: #0067c6;
  color: #fff;
  border-radius: 10px;
  font-family: 'Roboto-Regular', sans-serif;
}
.post .btn:hover {
  background-color: #0096ff;
  color: #fff;
}
.post .btn span {
  font-size: 15px;
}
.post .post-header {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 16px;
  font-weight: bolder;
}
.post #post-carousel {
  margin: auto;
  width: 98%;
}
.post #post-carousel img {
  width: 100%;
  height: auto;
}
.post #post-carousel .control {
  position: absolute;
  text-align: center;
  font-size: 25px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #fff;
}
.post #post-carousel .control span {
  margin-top: 25%;
}
.post #post-carousel .control:hover {
  text-decoration: none;
}
.post #post-carousel .left-control {
  top: 50%;
  left: -25px;
  margin-top: -25px;
}
.post #post-carousel .right-control {
  top: 50%;
  right: -25px;
  margin-top: -25px;
}
.tag {
  font-family: 'Roboto-Light', sans-serif;
  background-color: #333;
  color: #fff;
  padding: 2px 3px;
  margin: 0px 1px;
}
#benefits {
  background-color: #0067c6;
  padding: 0% -3%;
  margin: 0% -3%;
  width: 106%;
  height: 450px;
  font-family: 'Roboto-Regular', sans-serif;
  color: #fff;
}
@media all and (max-width: 991px) {
  #benefits {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
}
#benefits .benefit-column {
  float: left;
  padding: 0px 0px 0px 15px;
  width: 50%;
}
#benefits .cell {
  margin: 18px 2px;
}
#benefits .cell .cell-icon {
  display: inline-block;
  padding: 5px;
  height: 60px;
}
#benefits .cell .cell-icon .circle {
  display: table;
  text-align: center;
  background-color: #024686;
  color: #0096ff;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
#benefits .cell .cell-icon .circle span {
  display: table-cell;
  vertical-align: middle;
  font-size: 25px;
}
#benefits .cell .cell-icon .circle .icon-controller {
  font-size: 20px;
}
#benefits .cell .cell-body {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 60px;
}
#benefits .cell .cell-body div {
  display: table;
  width: 100%;
  height: 100%;
}
#benefits .cell .cell-body div p {
  display: table-cell;
  vertical-align: middle;
}
#map {
  height: 400px;
}
@media screen and (max-width: 449px) {
  #map {
    height: 200px;
  }
}
