#wrapper {
  opacity: 0;
}
.square {
  width: 5%;
  float: left;
  background-color: #000000;
  transition: background-color 1.5s ease;
}
.square:hover {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0s ease;
}
.square:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.dd-symbol-container {
  height: 400px;
  width: 100%;
  position: absolute;
  color: #fff;
  z-index: 2;
  top: 50%;
  margin-top: -150px;
}
@media screen and (max-width: 540px) {
  .dd-symbol-container {
    margin-top: -100px;
  }
}
.dd-symbol-container p {
  font-family: 'Roboto-Light', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
  letter-spacing: 5px;
}
@media all and (max-width: 767px) {
  .dd-symbol-container p {
    font-size: 16px;
  }
}
.dd-symbol {
  color: #fff;
  z-index: 2;
  display: table;
  margin: auto;
  /* ring */
  width: 100px;
  height: 100px;
  border: 6px solid #fff;
  border-radius: 50px;
}
.dd-symbol span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 2.5em;
}
@media screen and (max-width: 540px) {
  .dd-symbol {
    width: 50px;
    height: 50px;
    border: 4px solid #fff;
  }
  .dd-symbol span {
    font-size: 1.2em;
  }
}
.title {
  position: fixed;
  pointer-events: none;
  z-index: 8;
  top: 45%;
  margin-top: -200px;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .title {
    top: 30%;
    margin-top: 0px;
  }
}
.title h1 {
  display: block;
  width: 890px;
  color: #fff;
  margin: auto;
  padding-left: 60px;
  font-family: 'Roboto-Light', sans-serif;
  text-transform: uppercase;
  text-align: left;
  font-size: 60px;
  line-height: 1.5em;
  letter-spacing: 40px;
  pointer-events: none;
}
@media (min-width: 541px) and (max-width: 860px) {
  .title h1 {
    width: 540px;
    font-size: 40px;
    letter-spacing: 25px;
  }
}
@media screen and (max-width: 540px) {
  .title h1 {
    width: 300px;
    font-size: 22px;
    letter-spacing: 12px;
    padding-left: 20px;
  }
}
.title .diagonal {
  display: block;
  height: 75px;
  width: 890px;
  margin: auto;
  padding: 0px;
  padding-left: 60px;
  color: #fff;
}
@media (min-width: 541px) and (max-width: 860px) {
  .title .diagonal {
    width: 540px;
  }
}
@media screen and (max-width: 540px) {
  .title .diagonal {
    width: 300px;
    height: 60px;
    padding-left: 20px;
  }
}
.title .diagonal .diagonal-content {
  float: left;
}
@media screen and (max-width: 540px) {
  .title .diagonal .diagonal-content {
    height: 50px;
  }
  .title .diagonal .diagonal-content .line {
    font-size: 45px;
    margin-top: -18px;
  }
  .title .diagonal .diagonal-content .words p {
    font-size: 13px;
    line-height: 13px;
  }
  .title .diagonal .diagonal-content .words p:nth-child(1) {
    margin-left: -10px;
  }
  .title .diagonal .diagonal-content .words p:nth-child(2) {
    margin-left: -4px;
  }
  .title .diagonal .diagonal-content .words p:nth-child(3) {
    margin-left: 1px;
  }
}
#intro {
  width: 100%;
  overflow: hidden;
  margin: 0px;
  background-color: #000;
}
#intro > .title {
  position: fixed;
  z-index: 25;
}
#intro #intro-cover {
  position: relative;
  z-index: 10;
}
#intro #intro-cover header {
  height: 90%;
  overflow-y: hidden;
}
#intro #intro-cover footer {
  position: relative;
  width: 100%;
  height: 10%;
}
#intro #intro-cover footer a {
  position: absolute;
  margin-left: -23px;
  font-size: 3em;
  top: 25px;
  left: 50%;
  color: #000;
}
#intro #intro-cover footer a:hover {
  color: #fff;
}
#intro #intro-cover .footer-right,
#intro #intro-cover .footer-left {
  float: left;
  width: 50%;
  height: 40px;
  border-top: 40px solid #000;
}
#intro #intro-cover .footer-left {
  border-right: 40px solid transparent;
}
#intro #intro-cover .footer-right {
  border-left: 40px solid transparent;
}
#intro .scrollmagic-pin-spacer {
  pointer-events: none;
  background-color: #000;
}
#intro > .video {
  background: url(../../images/nthgen-home-bluebg.jpg);
  background-size: cover;
}
#intro #split-screen {
  position: absolute;
  overflow: hidden;
  top: 0;
}
#intro #split-screen #left-split {
  position: absolute;
  z-index: 2;
}
#intro #split-screen #left-split #left-inner {
  position: relative;
  overflow: hidden;
  top: 100%;
  width: 50%;
}
#intro #split-screen #left-split #design {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url(../../images/nthgen-photoshop-bluebg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#intro #split-screen #left-split #design h1 {
  font-family: 'Roboto-Light', sans-serif;
  color: #fff;
  font-size: 4em;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
}
@media all and (max-width: 767px) {
  #intro #split-screen #left-split #design h1 {
    font-size: 2em;
  }
}
#intro #split-screen #left-split #design h1 span {
  color: transparent;
  background-color: transparent;
}
#intro #split-screen #left-split .video {
  position: relative;
  overflow: hidden;
  background-image: url(../../images/nthgen-home-bluebg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#intro #split-screen #left-split .video #intro-video-left {
  overflow: hidden;
  position: absolute;
  top: -5;
  z-index: 0;
  width: 100%;
}
#intro #split-screen #right-split {
  position: relative;
  overflow-x: visible;
  overflow-y: hidden;
}
#intro #split-screen #right-split #develop {
  position: absolute;
  overflow-y: hidden;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 100%;
  background-image: url(../../images/nthgen-code-bluebg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#intro #split-screen #right-split #develop h1 {
  font-family: 'Roboto-Light', sans-serif;
  color: #fff;
  font-size: 4em;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
}
@media all and (max-width: 767px) {
  #intro #split-screen #right-split #develop h1 {
    font-size: 2em;
  }
}
#intro #split-screen #right-split #develop h1 span {
  color: transparent;
  background-color: transparent;
}
#intro #split-screen #right-split #develop #dd-video-right {
  width: 100%;
}
#intro #split-screen #right-split .video {
  position: relative;
  overflow: hidden;
  background-image: url(../../images/nthgen-home-bluebg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#intro #split-screen #right-split .video #intro-video-right {
  position: absolute;
  top: -5;
  width: 100%;
}
#intro #split-screen .title {
  position: absolute;
  z-index: 1;
}
#intro #split-footer {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 55px;
  background-color: #000;
  pointer-events: all;
}
#intro #split-footer .arrow-up {
  position: relative;
  width: 0;
  height: 0;
  margin: auto;
  margin-top: -40px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #000;
}
#intro #split-footer .arrow-up span {
  font-size: 40px;
  position: absolute;
  top: 30px;
  left: -21px;
  color: #073663;
}
#intro #split-footer .arrow-up span:hover {
  color: #fff;
}
#static-intro {
  width: 100%;
  min-height: 960px;
}
#static-intro .title {
  position: absolute;
}
#static-intro #intro-cover {
  background: url(../../images/nthgen-home-bluebg.jpg);
  background-size: cover;
  width: 100%;
  min-height: 480px;
}
#static-intro #intro-cover header {
  height: 88%;
  overflow: hidden;
  background-color: #000;
}
@media all and (max-width: 1049px) {
  #static-intro #intro-cover header {
    height: 80%;
    min-height: 380px;
  }
}
#static-intro #intro-cover footer {
  position: relative;
  width: 100%;
  height: 10%;
}
#static-intro #intro-cover footer a {
  position: absolute;
  margin-left: -23px;
  font-size: 3em;
  top: 25px;
  left: 50%;
  color: #000;
}
#static-intro #intro-cover footer a:hover {
  color: #fff;
}
#static-intro #intro-cover .footer-right,
#static-intro #intro-cover .footer-left {
  float: left;
  width: 50%;
  height: 40px;
  border-top: 40px solid #000;
}
#static-intro #intro-cover .footer-left {
  border-right: 40px solid transparent;
}
#static-intro #intro-cover .footer-right {
  border-left: 40px solid transparent;
}
#static-intro #second-intro {
  position: relative;
  background: url(../../images/nthgen-home-bluebg.jpg);
  background-size: cover;
  width: 100%;
  min-height: 480px;
}
#static-intro #second-intro footer {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 55px;
  background-color: #000;
  pointer-events: all;
}
#static-intro #second-intro footer .arrow-up {
  position: relative;
  width: 0;
  height: 0;
  margin: auto;
  margin-top: -40px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #000;
}
#static-intro #second-intro footer .arrow-up span {
  font-size: 40px;
  position: absolute;
  top: 30px;
  left: -21px;
  color: #073663;
}
#static-intro #second-intro footer .arrow-up span:hover {
  color: #fff;
}
#static-intro #split-screen {
  position: relative;
  width: 100%;
  min-height: 480px;
}
#static-intro #split-screen .video {
  width: 100%;
  height: 100%;
}
#static-intro #split-screen #design {
  left: 0px;
  background: url(../../images/nthgen-photoshop-bluebg.jpg);
}
#static-intro #split-screen #develop {
  left: 50%;
  background: url(../../images/nthgen-code-bluebg.jpg);
}
#static-intro #split-screen #design,
#static-intro #split-screen #develop {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0px;
  background-size: cover;
  text-align: center;
}
#static-intro #split-screen #design p,
#static-intro #split-screen #develop p {
  color: #fff;
}
#static-intro #split-screen #design h1,
#static-intro #split-screen #develop h1 {
  font-family: 'Roboto-Light', sans-serif;
  color: #fff;
  font-size: 4em;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
}
@media all and (max-width: 767px) {
  #static-intro #split-screen #design h1,
  #static-intro #split-screen #develop h1 {
    font-size: 20px;
    letter-spacing: 5px;
  }
}
#static-intro #split-screen #design h1 span,
#static-intro #split-screen #develop h1 span {
  color: transparent;
  background-color: transparent;
}
#static-intro #split-screen #split-footer {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 55px;
  background-color: #000;
  pointer-events: all;
}
#static-intro #split-screen #split-footer .arrow-up {
  position: relative;
  width: 0;
  height: 0;
  margin: auto;
  margin-top: -40px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #000;
}
#static-intro #split-screen #split-footer .arrow-up span {
  font-size: 40px;
  position: absolute;
  top: 30px;
  left: -21px;
  color: #073663;
}
#static-intro #split-screen #split-footer .arrow-up span:hover {
  color: #fff;
}
/* Team */
#team-intro {
  color: #0163c6;
  padding: 20px 0px;
  background-image: url(../../images/grey-pixel-bg.jpg);
}
#team-intro .description {
  font-size: 32px;
  letter-spacing: 5px;
  text-align: center;
  margin: 10px 20%;
  text-transform: uppercase;
}
@media screen and (max-width: 540px) {
  #team-intro .description {
    font-size: 16px;
    margin: 10px;
  }
}
#team-intro .diagonal {
  color: #fff;
  margin-top: 75px;
}
@media screen and (max-width: 540px) {
  #team-intro .diagonal {
    padding-left: 35px;
  }
}
#team {
  overflow-y: hidden;
  width: 100%;
  background-image: url(../../images/grey-pixel-bg.jpg);
}
@media all and (max-width: 1049px) {
  #team {
    width: 100%;
    max-width: 100%;
    height: 200px;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: auto;
  }
}
#team .wrapper {
  position: relative;
  width: 2100px;
  margin: auto;
}
@media screen and (max-width: 1049px) {
  #team .wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0px;
    height: 200px !important;
  }
}
@media (min-width: 1050px) and (max-width: 1399px) {
  #team .wrapper {
    width: 1050px;
  }
}
@media (min-width: 1400px) and (max-width: 1749px) {
  #team .wrapper {
    width: 1400px;
  }
}
@media (min-width: 1750px) and (max-width: 2099px) {
  #team .wrapper {
    width: 1750px;
  }
}
#team .wrapper .team-member {
  position: relative;
  background: #000;
  display: inline-block;
  overflow: hidden;
  width: 350px;
  height: 350px;
  margin: -2px -2px -5px -2px;
  padding: 0px;
}
#team .wrapper .team-member:hover .member-description {
  opacity: 1.0;
}
@media all and (max-width: 1049px) {
  #team .wrapper .team-member:hover .member-description {
    opacity: 0;
  }
}
#team .wrapper .team-member .nthgen-team {
  position: absolute;
  top: 0px;
  width: 350px;
  height: 350px;
}
@media all and (max-width: 1049px) {
  #team .wrapper .team-member .nthgen-team {
    width: 200px;
    height: 200px;
  }
}
@media all and (max-width: 1049px) {
  #team .wrapper .team-member {
    display: table-cell;
    width: 200px;
    height: 200px;
  }
}
#team .wrapper .buffer {
  display: none;
  width: auto;
}
@media all and (max-width: 1049px) {
  #team .wrapper .buffer {
    display: table-cell;
    height: 200px;
    width: 200px;
  }
}
#team .wrapper .ff-fix {
  position: relative;
  height: auto;
}
.member-photo {
  list-style: none;
  margin-bottom: -5px;
  width: 350px;
  height: 350px;
}
@media all and (max-width: 1049px) {
  .member-photo {
    width: 200px;
    height: 200px;
  }
}
.member-photo img {
  width: 350px;
  height: 350px;
}
@media all and (max-width: 1049px) {
  .member-photo img {
    width: 200px;
    height: 200px;
  }
}
.member-symbol {
  color: #fff;
  z-index: 2;
  transition: opacity 0.6s ease-in-out;
  /* center */
  position: absolute;
  bottom: 175px;
  left: 50%;
  margin-left: -40px;
  /* ring */
  width: 80px;
  height: 80px;
  border: 5px solid #fff;
  border-radius: 40px;
  padding-top: 20px 5px 5px 5px;
}
@media all and (max-width: 1049px) {
  .member-symbol {
    transition: none;
    bottom: 75px;
  }
}
.member-symbol span {
  position: absolute;
  font-size: 28px;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -14px;
}
.member-symbol .icon-cogs {
  font-size: 40px;
  margin-top: -20px;
  margin-left: -20px;
}
.member-symbol .icon-code-brackets {
  margin-left: -30px;
}
.member-description {
  position: absolute;
  bottom: 0;
  height: 75px;
  width: 350px;
  z-index: 5;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.75);
  display: table;
}
@media all and (max-width: 1049px) {
  .member-description {
    transition: none;
    width: 200px;
  }
}
.member-description .name,
.member-description .nickname {
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
}
.member-description .name {
  font-family: 'Roboto-Light', sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
}
@media all and (max-width: 1049px) {
  .member-description .name {
    font-size: 10px;
    line-height: 10px;
  }
}
.member-description .nickname {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 5px;
  color: #0060c9;
  padding-top: 5px;
}
@media all and (max-width: 1049px) {
  .member-description .nickname {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 2px;
    padding-top: 0px;
  }
}
.nthgen-team {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #0264c9;
  text-align: center;
}
.nthgen-team .content {
  position: absolute;
  top: 50%;
  margin-top: -100px;
  width: 100%;
}
.nthgen-team .content p {
  text-transform: uppercase;
  font-size: 20px;
}
.nthgen-team .content span {
  font-size: 100px;
}
.nthgen-team:hover {
  color: #262626;
  transition: color 0.5s ease;
}
/* Stats Row */
#stats-container {
  background-color: #0060c9;
  color: #fff;
}
#stats-container #stats {
  text-align: center;
  padding: 10px;
}
#stats-container #stats .stat {
  position: relative;
  display: inline-block;
  width: 350px;
}
@media (min-width: 1073px) and (max-width: 1432px) {
  #stats-container #stats .stat {
    width: 260px;
  }
}
@media (min-width: 541px) and (max-width: 1072px) {
  #stats-container #stats .stat {
    display: block;
    margin: auto;
    width: 500px;
  }
}
@media screen and (max-width: 540px) {
  #stats-container #stats .stat {
    width: 300px;
  }
}
#stats-container #stats .stat .stat-symbol {
  display: table;
  text-align: center;
  background-color: #004389;
  color: #0065ca;
  border-radius: 75px;
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: 20%;
}
@media (min-width: 1073px) and (max-width: 1432px) {
  #stats-container #stats .stat .stat-symbol {
    border-radius: 50px;
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 541px) and (max-width: 1072px) {
  #stats-container #stats .stat .stat-symbol {
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }
}
@media screen and (max-width: 540px) {
  #stats-container #stats .stat .stat-symbol {
    border-radius: 60px;
    width: 120px;
    height: 120px;
    margin-top: 20px;
  }
}
#stats-container #stats .stat .stat-symbol span {
  display: table-cell;
  vertical-align: middle;
  font-size: 50px;
}
@media (min-width: 1073px) and (max-width: 1432px) {
  #stats-container #stats .stat .stat-symbol span {
    font-size: 40px;
  }
}
@media (min-width: 541px) and (max-width: 1072px) {
  #stats-container #stats .stat .stat-symbol span {
    font-size: 60px;
  }
}
@media screen and (max-width: 449) {
  #stats-container #stats .stat .stat-symbol span {
    font-size: 40px;
  }
}
#stats-container #stats .stat .stat-symbol .icon-brain {
  font-size: 70px;
}
@media (min-width: 541px) and (max-width: 1072px) {
  #stats-container #stats .stat .stat-symbol .icon-brain {
    font-size: 110px;
  }
}
@media screen and (max-width: 540px) {
  #stats-container #stats .stat .stat-symbol .icon-code-brackets,
  #stats-container #stats .stat .stat-symbol .icon-controller {
    font-size: 35px;
  }
}
#stats-container #stats .stat .stat-content {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20%;
}
@media screen and (max-width: 540px) {
  #stats-container #stats .stat .stat-content {
    margin-bottom: 20px;
  }
}
#stats-container #stats .stat .stat-content div,
#stats-container #stats .stat .stat-content h1 {
  display: inline-block;
  font-family: 'Roboto-Light', sans-serif;
}
#stats-container #stats .stat .stat-content h1 {
  margin: 0px;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 10px;
}
@media (min-width: 1073px) and (max-width: 1432px) {
  #stats-container #stats .stat .stat-content h1 {
    font-size: 45px;
  }
}
@media (min-width: 541px) and (max-width: 1072px) {
  #stats-container #stats .stat .stat-content h1 {
    font-size: 80px;
  }
}
@media screen and (max-width: 540px) {
  #stats-container #stats .stat .stat-content h1 {
    font-size: 45px;
  }
}
#stats-container #stats .stat .stat-content .line {
  font-family: 'Roboto-Thin', sans-serif;
  height: 60px;
  font-size: 60px;
  line-height: 60px;
  display: inline-block;
}
@media (min-width: 1073px) and (max-width: 1432px) {
  #stats-container #stats .stat .stat-content .line {
    font-size: 45px;
    line-height: 45px;
  }
}
@media (min-width: 541px) and (max-width: 1072px) {
  #stats-container #stats .stat .stat-content .line {
    height: 70px;
    font-size: 70px;
    line-height: 70px;
  }
}
@media screen and (max-width: 540px) {
  #stats-container #stats .stat .stat-content .line {
    font-size: 45px;
    line-height: 45px;
  }
}
#stats-container #stats .stat .stat-content .stat-description {
  text-align: left;
}
#stats-container #stats .stat .stat-content .stat-description p {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  line-height: 16px;
  border-box: none;
  text-align: left;
  text-transform: uppercase;
}
@media (min-width: 1073px) and (max-width: 1432px) {
  #stats-container #stats .stat .stat-content .stat-description p {
    font-size: 12px;
    line-height: 12px;
  }
}
@media (min-width: 541px) and (max-width: 1072px) {
  #stats-container #stats .stat .stat-content .stat-description p {
    font-size: 20px;
    line-height: 20px;
  }
}
@media screen and (max-width: 540px) {
  #stats-container #stats .stat .stat-content .stat-description p {
    font-size: 12px;
    line-height: 12px;
  }
}
#stats-container #stats .stat .stat-content .stat-description p:nth-child(1) {
  margin-left: -15px;
}
#stats-container #stats .stat .stat-content .stat-description p:nth-child(2) {
  margin-left: -9px;
}
#stats-container #stats .stat .stat-content .stat-description p:nth-child(3) {
  margin-left: -2px;
}
@media (min-width: 1073px) and (max-width: 1432px) {
  #stats-container #stats .stat .stat-content .stat-description p:nth-child(1) {
    margin-left: -12px;
  }
  #stats-container #stats .stat .stat-content .stat-description p:nth-child(2) {
    margin-left: -7px;
  }
  #stats-container #stats .stat .stat-content .stat-description p:nth-child(3) {
    margin-left: -2px;
  }
}
@media (min-width: 541px) and (max-width: 1072px) {
  #stats-container #stats .stat .stat-content .stat-description p:nth-child(1) {
    margin-left: -18px;
  }
  #stats-container #stats .stat .stat-content .stat-description p:nth-child(2) {
    margin-left: -10px;
  }
  #stats-container #stats .stat .stat-content .stat-description p:nth-child(3) {
    margin-left: -2px;
  }
}
@media screen and (max-width: 540px) {
  #stats-container #stats .stat .stat-content .stat-description p:nth-child(1) {
    margin-left: -12px;
  }
  #stats-container #stats .stat .stat-content .stat-description p:nth-child(2) {
    margin-left: -7px;
  }
  #stats-container #stats .stat .stat-content .stat-description p:nth-child(3) {
    margin-left: -2px;
  }
}
/* TradeRev Row */
#traderev {
  background-color: #000;
  background-image: url(../../images/product-car-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  height: 600px;
}
@media screen and (max-width: 1140px) {
  #traderev {
    height: 850px;
  }
}
@media screen and (max-width: 680px) {
  #traderev {
    height: 630px;
  }
}
#traderev .traderev-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 103, 198, 0);
  transition: background-color 0.3s ease-in-out;
}
#traderev .traderev-container .traderev-info {
  height: 600px;
  max-width: 1140px;
  margin: auto;
}
#traderev .traderev-container .traderev-info .description {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 500px;
  height: 100%;
}
@media screen and (max-width: 1140px) {
  #traderev .traderev-container .traderev-info .description {
    display: block;
    margin: auto;
    height: 350px;
  }
}
@media screen and (max-width: 680px) {
  #traderev .traderev-container .traderev-info .description {
    width: 100%;
  }
}
#traderev .traderev-container .traderev-info .description div {
  width: 100%;
  position: absolute;
  color: #fff;
  top: 250px;
  transition: top 0.3s ease-in-out;
}
@media screen and (max-width: 1140px) {
  #traderev .traderev-container .traderev-info .description div {
    top: 50px;
    transition: none;
  }
}
#traderev .traderev-container .traderev-info .description div h2 {
  font-family: 'Roboto-Normal', sans-serif;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
@media screen and (max-width: 1140px) {
  #traderev .traderev-container .traderev-info .description div h2 {
    opacity: 1;
    transition: none;
  }
}
@media screen and (max-width: 680px) {
  #traderev .traderev-container .traderev-info .description div h2 {
    font-size: 22px;
  }
}
#traderev .traderev-container .traderev-info .description div p {
  font-family: 'Roboto-Thin', sans-serif;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
@media screen and (max-width: 1140px) {
  #traderev .traderev-container .traderev-info .description div p {
    opacity: 1;
    transition: none;
  }
}
@media screen and (max-width: 680px) {
  #traderev .traderev-container .traderev-info .description div p {
    font-size: 14px;
  }
}
#traderev .traderev-container .traderev-info .description div a {
  display: block;
  font-family: 'Roboto-Normal', sans-serif;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 22px;
  color: #0687ff;
  margin-top: 25px;
}
@media screen and (max-width: 1140px) {
  #traderev .traderev-container .traderev-info .description div a {
    opacity: 1;
    transition: none;
  }
}
#traderev .traderev-container .traderev-info .description div a:hover {
  text-decoration: none;
  color: #024686;
}
#traderev .traderev-container .traderev-info .description div a span {
  font-size: 15px;
}
#traderev .traderev-container .traderev-info .description div img {
  margin: auto;
}
@media screen and (max-width: 680px) {
  #traderev .traderev-container .traderev-info .description div img {
    width: 250px;
  }
}
#traderev .traderev-container .traderev-info .traderev-image {
  position: relative;
  display: inline-block;
  width: 630px;
  height: 600px;
}
@media screen and (max-width: 1140px) {
  #traderev .traderev-container .traderev-info .traderev-image {
    display: block;
    margin: auto;
    height: 500px;
  }
}
@media screen and (max-width: 680px) {
  #traderev .traderev-container .traderev-info .traderev-image {
    width: 300px;
    height: 280px;
  }
}
#traderev .traderev-container .traderev-info .traderev-image img {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#traderev .traderev-container:hover {
  background-color: rgba(0, 103, 198, 0.35);
}
@media screen and (max-width: 1140px) {
  #traderev .traderev-container:hover {
    background-color: transparent;
  }
}
#traderev .traderev-container:hover .traderev-info .description div {
  top: 200px;
}
@media screen and (max-width: 1140px) {
  #traderev .traderev-container:hover .traderev-info .description div {
    top: 50px;
  }
}
#traderev .traderev-container:hover .traderev-info .description div h2 {
  opacity: 1;
}
#traderev .traderev-container:hover .traderev-info .description div p {
  opacity: 1;
}
#traderev .traderev-container:hover .traderev-info .description div a {
  opacity: 1;
}
/* Products Row */
#products-intro {
  padding: 70px;
  text-transform: uppercase;
  background: #fff;
}
#products-intro .description {
  font-family: 'Roboto-Normal', sans-serif;
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
  margin: 10px 20%;
  color: #0067c6;
}
@media screen and (max-width: 540px) {
  #products-intro .description {
    font-size: 16px;
    margin: 10px;
  }
}
#products-intro .diagonal {
  margin-top: 5px;
  color: #000;
}
#products-container {
  padding: 2%;
  background: #222;
}
#products-container #products {
  text-align: center;
}
#products-container #products p {
  font-family: 'Roboto-Thin', sans-serif;
  text-align: left;
  width: 964px;
  margin: auto;
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
}
@media screen and (max-width: 1090px) {
  #products-container #products p {
    text-align: center;
    width: 100%;
    margin: 20px 0px;
  }
}
@media screen and (max-width: 540px) {
  #products-container #products {
    margin: 20px 0px 0px 0px;
    padding: 0px;
  }
}
#products-container #products div {
  display: inline-block;
  width: 520px;
  height: 100px;
  text-align: center;
}
@media (min-width: 541px) and (max-width: 1090px) {
  #products-container #products div {
    display: block;
    margin: 30px auto;
  }
}
@media screen and (max-width: 540px) {
  #products-container #products div {
    margin: 0px;
    width: 100%;
  }
}
#products-container #products div img {
  display: inline-block;
  margin: 5px;
}
@media screen and (max-width: 540px) {
  #products-container #products div img {
    width: 120px;
    margin: 0px;
  }
}
/* Map */
#map {
  height: 400px;
}
@media screen and (max-width: 540px) {
  #map {
    height: 200px;
  }
}
/* Contact Row */
#contact {
  position: relative;
  height: 600px;
  overflow: hidden;
  background-color: #0060c9;
  font-family: 'Roboto-Light', sans-serif;
  padding-top: 25px;
}
@media screen and (max-width: 1062px) {
  #contact {
    height: 700px;
  }
}
#contact .diagonal {
  color: #fff;
  padding: 10px 0px 10px 55px;
  margin-top: 75px;
}
#contact-form {
  position: absolute;
  top: 200px;
  width: 100%;
  text-transform: uppercase;
  color: #fff;
}
#contact-form p {
  display: none;
  position: absolute;
  color: #004389;
  font-size: 32px;
  padding-top: 15px;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 540px) {
  #contact-form p {
    font-size: 15px;
  }
}
#contact-form .message-loading {
  margin-top: -30px;
  font-size: 70px;
}
@media screen and (max-width: 540px) {
  #contact-form .message-loading {
    font-size: 40px;
  }
}
#contact-form .message-fail span img {
  margin-top: -5px;
  width: 30px;
  height: 30px;
}
