/* Post list */
.page-content {
  padding: $spacing-unit 0;
}

.blog-post {
  padding: $spacing-unit 0;

  &__date {
    color: $grey-color;
    font-size: 0.6875rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &__title {
    display: block;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &__description {
    margin: 10px 0;
  }
}

/* Posts*/
.post-header {
  margin-bottom: $spacing-unit;
}
.post-title {
  font-size: 42px;
  line-height: 1;
  @include media-query($on-laptop) {
    font-size: 36px;
  }
}
.post-content {
  margin-bottom: $spacing-unit;
  h2 {
    font-size: 32px;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }
  h3 {
    font-size: 26px;
    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }
  h4 {
    font-size: 20px;
    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
