.site-header {
  border-bottom: 1px solid $grey-color-light;
  padding: $spacing-unit 0;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.site-title {
  flex-grow: 1;
  font-size: $font-size-h3;
}
.page-link {
  margin: $spacing-unit / 2;
}
