/* Company Logos*/
$company-logo-size: 50px;
.company-logo {
  border: 2px dotted $grey-color;
  border-radius: $company-logo-size;
  height: $company-logo-size;
  margin-top: 30px;
  padding: 15px;
  width: $company-logo-size;
}
