@font-face {
	font-family: 'Poiret One';
	font-style: normal;
	font-weight: 400;
	src: local('Poiret One'), local('PoiretOne-Regular'), url(http://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8SEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

header {
	font-family: 'Poiret One';
	text-transform: uppercase;
	padding: 30px 0px 0px 0px;
}

header h1 {
	font-size: 4em;
	font-weight: normal;
	text-align: center;
}

header h1 span {
	display: inline-block;
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
	ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

section {
	font-family: 'Poiret One';
}

.product-display {
	width: 900px;
	height: 500px;
	margin: auto;
}

.display-active {
	float: left;
	width: 400px;
	height: 400px;
	margin-top: 40px;
}

.display-selection {
	float: left;
	margin-top: 40px;
	padding-left: 50px;
}
.display-option {
	width: 100px;
	height: 100px;
}

.product-description {
	float: left;
	width: 250px;
	padding: 20px 40px;
}

img {
	width: 100%;
	height: 100%;
}