@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?vyh2xc');
	src:url('fonts/icomoon.eot?#iefixvyh2xc') format('embedded-opentype'),
		url('fonts/icomoon.woff?vyh2xc') format('woff'),
		url('fonts/icomoon.ttf?vyh2xc') format('truetype'),
		url('fonts/icomoon.svg?vyh2xc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e601";
}
.icon-pinterest:before {
	content: "\e602";
}
.icon-mail:before {
	content: "\e603";
}

@font-face {
	font-family: 'Poiret One';
	font-style: normal;
	font-weight: 400;
	src: local('Poiret One'), local('PoiretOne-Regular'), url(http://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8SEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html {
	font-family: 'Poiret One';
}

header {
	font-family: 'Poiret One';
	text-transform: uppercase;
}

header h1 {
	font-size: 4em;
	font-weight: normal;
	text-align: center;
}

header h1 span {
	display: inline-block;
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
	ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

section {
	font-family: 'Poiret One';
}

#main {
	padding-top: 40px;
}

.sidebar-menu {
	float: left;
	padding-top: 40px;
}
.sidebar-menu ul {
	list-style: none;
}
.sidebar-menu li {
	margin: 10px 0px;
}
.sidebar-menu a {
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	font-size: 1.3em;
}
.sidebar-menu a:hover {
	text-decoration: underline;
}

.product-display {
	margin: auto;
	position: relative;
	width: 500px;
	height: 500px;
}

.display-active {
	width: 500px;
	height: 500px;
}

.display-selection {
	position: absolute;
	top: 0px;
	left: -100px;
}
.display-option {
	width: 125px;
	height: 125px;
}
.product-description {
	position: absolute;
	top: 0px;
	right: -430px;
	width: 350px;
	padding: 20px 40px;
}

.product-description p {
	font-size: 1.1em;
}

img {
	width: 100%;
	height: 100%;
}

.center {
	text-align: center;
}

.btn {
	margin: auto;
	cursor: pointer;
	outline: none;
	display: inline-block;
	width: 160px;
	height: 50px;
	font-size: 10px;
	background-color: transparent;
	border: solid #000 2px;
	text-transform: uppercase;
}

.btn.btn-small {
	height: 30px;
	width: 65px;
	font-size: 9px;
	font-weight: bold;
}