@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
	font-family: 'Open Sans', sans-serif;
	color: #333;
}

header {
	h1 { text-align: center; }
}
img { width: 100%; }

.content-wrapper {
	margin: auto;
	width: 980px;
}

.grid-container {
	display: table;
	content: " ";
	margin: 40px 0px;
	&:after { clear: both; }
}

.grid-3,
.grid-1 {
	float: left;
}
.grid-1 { width: 25%; }
.grid-3 { width: 75%; }

.summary {
	width: 680px;
	margin: 0px auto 30px auto;
}

$company-logo-size: 100px;
.company-logo {
	padding: 20px;
	width: $company-logo-size;
	height: $company-logo-size;
	border: 4px dotted #555;
	border-radius: $company-logo-size;
}

.position-title {
	margin: 0px 0px 5px 0px;
}