<!DOCTYPE html>
<html>
<head>
	<title>LoSoCa</title>
	<link rel="stylesheet" type="text/css" href="bower_components/ionicons/css/ionicons.min.css">
	<link rel="stylesheet" type="text/css" href="styles/css/main.css">
</head>
<body>
	<!-- Filter -->
	<!-- <ul id="selection-filter" class="tags"></ul> -->
	<!-- <section id="people"></section> -->

	<!-- Scrolling -->
	<div id="scrolling-profile"></div>

	<!-- Tabbed -->
	<!-- <div id="tabbed-profile"></div> -->

	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/mustache/mustache.js"></script>
	<!-- <script type="text/javascript" src="scripts/filter.js"></script> -->
	<script type="text/javascript" src="scripts/scrolling.js"></script>
	<!-- <script type="text/javascript" src="scripts/tabbed.js"></script> -->
</body>
</html>