/* styling for actions */

.action {
  padding: 3px 6px 3px 19px;
  font-family: 'TitilliumText22LBold', arial, sans-serif;
  font-size: 0.8em;
  display: block;
  margin: 0 20px 3px 0;
  color: #fff;
  /* default is static with grey background */
  background: #666 url(images/icon-static.png) no-repeat scroll 4px 4px;
}
.target-down, .downgrade {
  background: #990000 url(images/icon-decrease.png) no-repeat scroll 4px 4px;
}
.target-up, .upgrade {
  background: #36701b url(images/icon-increase.png) no-repeat scroll 4px 4px;
}
.initiate, .reinitiate, .maintain {
  background: #666 url(images/icon-static.png) no-repeat scroll 4px 4px;
}
